In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing and read file
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # for statistical data visualization

In [3]:
iris=pd.read_csv("Iris.csv")

In [4]:
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
iris.Species.value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [8]:
iris['Species'].value_counts() #another way

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [9]:
# drop id column
iris.drop("Id",axis=1,inplace=True)

In [11]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [38]:
X=iris.iloc[:,:-1]

In [39]:
y=iris['Species']

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=27)

In [41]:
y_train

123     Iris-virginica
40         Iris-setosa
111     Iris-virginica
97     Iris-versicolor
86     Iris-versicolor
            ...
37         Iris-setosa
56     Iris-versicolor
31         Iris-setosa
72     Iris-versicolor
19         Iris-setosa
Name: Species, Length: 120, dtype: object

In [42]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [43]:
gnb.fit(X_train,y_train)

GaussianNB()

In [44]:
y_pred=gnb.predict(X_test)

In [45]:
y_pred

array(['Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica'], dtype='<U15')

In [46]:
from sklearn.metrics import accuracy_score

In [48]:
print("The accuracy score of the model is {0:0.4f}".format(accuracy_score(y_test,y_pred)))

The accuracy score of the model is 0.9000

In [50]:
print("Training score is : {0:.4f}".format(gnb.score(X_train,y_train)))
print("Testing score is : {0:.4f}".format(gnb.score(X_test,y_test)))

Training score is : 0.9667
Testing score is : 0.9000

In [51]:
y_test.value_counts()

Iris-virginica     12
Iris-versicolor    11
Iris-setosa         7
Name: Species, dtype: int64

In [52]:
from sklearn.metrics import confusion_matrix,classification_report

In [53]:
confusion_matrix(y_test,y_pred)

array([[ 7,  0,  0],
       [ 0, 10,  1],
       [ 0,  2, 10]], dtype=int64)

In [54]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.83      0.91      0.87        11
 Iris-virginica       0.91      0.83      0.87        12

       accuracy                           0.90        30
      macro avg       0.91      0.91      0.91        30
   weighted avg       0.90      0.90      0.90        30